<% if @recipes %>
	<% @recipes.each do |recipe| %>
		<div class="recipe-thumb">
			<%= image_tag recipe.image, class:"thumb-image" %>
			<div class="info-container">
				<div class="title">
					<h1 class="thumb-name"><%= recipe.name %></h1>
				</div>
				<div class="aside">
					<h5>Ready In: <strong class="highlight"><br><%= recipe.time %> min</strong></h5>
					<h5>Ingredients: <br><strong class="highlight"><%= recipe.ingredientsNum %></strong></h5>
				</div>
			</div>
		</div>
	<% end %>
<% end %>