<div class="recipe-name">
	<span><%= @recipe.name %></span>
</div>
<div class="recipe-ingredients">
<% @recipe.ingredients.each do |i| %>
	<div class="ingredient">
		<%= i.name %>
	</div>
<% end %>
</div>
