<h1>TEST RECIPE LIST</h1>
<% if @recipes %>
	<% @recipes.each do |recipe| %>
		<div>
			<%= image_tag recipe.image %>
			<%= link_to recipe.title, recipe_path(recipe.id) %>
		</div>
	<% end %>
<% end %>