<div class="bg"></div>

<div id="ingredient-search">
	<input type="text" name="fname", id="ingredient">
	<input type="submit" value="+" class="button" id="add-ingredient">
</div>

<div id="ingredient-box"></div>
<%= form_tag recipes_path, method: 'get', id: 'recipe-search' do %>
	<%= submit_tag "Find Recipes", :name => nil, id: "submit" %>
<% end %>

<div id="search-results"></div>

