<div class="bg"></div>

<div class="swipe left-swipe">
	<div class="left-img"></div>
	<div class="left-title"></div>
</div>

<div class="swipe right-swipe">
	<div class="right-img"></div>
	<div class="right-title"></div>
</div>

<div id="ingredient-search">
	<input type="text" name="fname", id="ingredient", placeholder="Search">
	<input type="submit" value="+" class="button" id="add-ingredient">
</div>

<div id="ingredient-box"></div>

<div class="search-results"></div>
