<div class="bg"></div>

<div id="left-swipe" class="swipe">
	<div id="left-img"></div>
</div>

<div id="right-swipe" class="swipe">
	<div id="right-img"></div>
</div>

<div id="ingredient-search">
	<input type="text" name="fname", id="ingredient", placeholder="Search">
	<input type="submit" value="+" class="button" id="add-ingredient">
</div>

<div id="ingredient-box"></div>

<div id="search-results"></div>
