<h1>Add some Ingredients</h1>
<h3>maybe some cucumber or chick peas, healthy shit</h3>

<%= form_tag recipes_path, method: 'get' do %>
	<%= text_field_tag :ingredient, params[:ingredient] %>
	<%= submit_tag "Find Recipes", :name => nil %>
<% end %>

<h1>Here's your recipes bro</h1>

<div id="search-results"></div>

