<div class="bg"></div>

<div class="loading">
	<%= image_tag "loading.gif", class:'loading-icon' %>
	<p>Your recipes are coming in hot, dawg</p>
	<br><span>(Gif by Lacey Micallef)</span>
</div>

<div class="swipe left-swipe">
	<div class="border"></div>
	<div class="fade"></div>
</div>

<div class="swipe right-swipe">
	<div class="border"></div>
	<div class="fade"></div>
</div>

<div id="ingredient-search">
	<input type="text" name="fname", id="ingredient", placeholder="Add Ingredients">
</div>

<div id="ingredient-box"></div>

<div class="search-results"></div>

<i class="fa fa-info-circle info"></i>

<%= render 'intro_card' %>

<p class="yummly-attribution">Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a><p>
