<div class="bg"></div>

<div class="loading">
	<%= image_tag "loading.gif", class:'loading-icon' %>
	<p>Your recipes are coming in hot, dawg</p>
</div>

<div class="swipe left-swipe">
	<div class="border"></div>
	<div class="fade"></div>
</div>

<div class="swipe right-swipe">
	<div class="border"></div>
	<div class="fade"></div>
</div>

<div id="ingredient-search">
	<input type="text" name="fname", id="ingredient", placeholder="Add Ingredients">
</div>

<div id="ingredient-box"></div>

<div class="search-results"></div>

<i class="fa fa-info-circle info"></i>

<script id="intro-card" type="x-tmpl-mustache">
	<div class="intro-card-container recipe-thumb recipe-flip active">
		<div class="inner-intro">
			<div class="inner-intro-text">
				<h1>Welcome to Chefly!</h1>
				<div class="intro-text">Chefly is an easy way to discover amazing recipes. Just swipe between recipe cards with the side buttons or arrow keys.
				</div>
			</div>
			<div id="get-started"><span>Get Started</span></div>
			<div class="border"></div>
			<div class="intro-bg"></div>
			<div class="intro-mask"></div>
		</div>
	</div>
</script>