<div class="bg"></div>

<div class="swipe left-swipe">
	<div class="border"></div>
	<div class="fade"></div>
</div>

<div class="swipe right-swipe">
	<div class="border"></div>
	<div class="fade"></div>
</div>

<div id="ingredient-search">
	<input type="text" name="fname", id="ingredient", placeholder="Add Ingredients">
</div>

<div id="ingredient-box"></div>

<div class="search-results"></div>
