<div class="bg"></div>

<div id="ingredient-search">
	<input type="text" name="fname", id="ingredient", placeholder="Add Ingredients">
</div>

<div id="ingredient-box"></div>

<div class="search-results"></div>

<div class="your-class">
  <div class="chefly-slide"><div>your content</div></div>
  <div class="chefly-slide"><div>your content</div></div>
  <div class="chefly-slide"><div>your content</div></div>
</div>

<i class="fa fa-info-circle info"></i>

<%= render 'intro_card' %>

<p class="yummly-attribution">Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a><p>
