body {
	font-size: 1em;
}

h1 {
	font-family: "Coustard";
	font-size: 3.0em;
}

h2 {
	font-family: "Coustard";
	font-size: 2.5em;
}

h3 {
	font-family: "Coustard";
	font-size: 2.0em;
}

h4 {
	font-family: "Coustard";
	font-size: 1.5em;
}

h5 {
	font-family: "Coustard";
	font-size: 1.0em;
}

h6 {
	font-family: "Coustard";
	font-size: 0.8em;
}