.favourites-header {
	padding-top: 140px;
}
.favourites-grid {
	@include outer-container;
	// @include fill-parent();
	// padding-top: 60px;
}

.favourite-grid-item {
	@include span-columns(4);
	margin: 20px;
	height: 260px;
	// max-height: 260px;
	border-radius: 4px;
	position: relative;
}

.favourite-recipe {
	background-repeat: no-repeat;
	background-size: 100%;
}

.favourite-mask {
	z-index: 2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	// border-radius: 4px 4px 4px 4px;
}

.favourite-title {
	z-index: 3;
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 30%;
	padding-left: 15px;
	padding-bottom: 4px;
	line-height: 1.1;
	bottom: 0px;
}

.favourite-title span {
	position: relative;
	font-size: 1.4em;
	font-weight: 300;
	color: white;
	text-align: left;
	display: inline;
	bottom: 0;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.favourite-aside {
	z-index: 3;
	position: relative;
	font-weight: 300;
	display: inline-block;
	width: 100%;
	color: white;
	display: inline;
	float: right;
	right: 0;
	top: 0;
}

.favourite-aside h4 {
	margin-top: 5px;
	float: right;
	margin-right: 15px;
	display: inline-block;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
	font-size: 1em;
}

.favourite-aside h4 span {
	font-size: 1em;
}

.favourite-face {
	width: 100%;
	height: 100%;
	z-index: 2;
}

.favourite-front {
	z-index: 1;
}

.favourite-back {
	z-index: 3;
}

.favourite-recipe-button {
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	color: $dark-grey;
	border: 1px solid $dark-grey;
	border-radius: 4px;
	padding: 9px 15px 9px 15px;
	@include transition(all 0.2s);
	display: block;
	max-width: 60%;

}

.favourite-recipe-button:hover {
	background-color: $dark-grey;
	color: white;
	@include transition(all 0.2s);
}

// Recipe card animation

.favourite-recipe:hover {
	@include transform(scale(1.1));
}

.favourite-recipe {
	@include transform-style(preserve-3d);
	@include transition(0.5s);
	border-radius: 4px;
}




