.favourites-header {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 600px;
	background-color: $dark-grey;
	margin: 0 auto;
	text-align: center;
	color: $light-grey-plus;
	border-radius: 5px 5px 0px 0px;
	font-weight: 300;
	// background-color: $light-grey-plus;
}

.end-decoration {
	width: 600px;
	height: 20px;
	background-color: $dark-grey;
	margin: 0 auto;
	border-radius: 0px 0px 5px 5px ;
}

.favourites-container {
	z-index: -1;
	margin-bottom: 20px;
	padding-top: 120px;
}

.favourite-grid-item {
	margin: 4px 8px;
	height: 260px;
	position: relative;
}

.favourite-recipe {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	height: 200px;
	width: 600px;
	margin: 0 auto;
}

.favourite-mask {
	z-index: 2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.05;
	@include transition(all 0.2s);
}

.favourite-title {
	z-index: 3;
	position: absolute;
	display: inline-block;
	height: 180px;
	width: 450px;
	padding-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.1;
	top: 0;
}

.favourite-title span {
	position: absolute;
	font-weight: 300;
	color: white;
	text-align: left;
	opacity: 0.5;
	display: inline;
	top: 0;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.favourite-aside {
	z-index: 3;
	position: relative;
	font-weight: 300;
	display: inline-block;
	width: 100%;
	color: white;
	display: inline;
	float: right;
	right: 0;
	top: 0;
}

.favourite-aside h4 {
	margin-top: 5px;
	float: right;
	padding-right: 14px;
	padding-top: 6px;
	display: inline-block;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
	font-size: 1em;
}

.favourite-aside h4 span {
	font-size: 1.2em;
}

.favourite-face {
	width: 100%;
	height: 100%;
	z-index: 2;
}

.favourite-front {
	z-index: 1;
}

.favourite-back {
	z-index: 3;
}

// Recipe card animation

.favourite-recipe:hover {
	@include transform(translate(20px, 0px));
	// z-index: 1000000;

	.favourite-mask {
		opacity: 0.3;
		@include transition(all 0.2s);
	}

	.favourite-title span {
		opacity: 0.85;
		@include transition(all 0.2s);
	}
}

.favourite-recipe {
	@include transform-style(preserve-3d);
	@include transition(0.3s);
}

.fav-icon {
	position: absolute;
	top: 170px;
	right: 42px;
	font-size: 48px;
	color: #F2A1A1;
	text-decoration: none;
	margin-top: 12px;
}

.unfav-button {
	padding: 0;
}

.fav-button {
	padding: 0;
}
