//Colours

$light-grey: #FCFCFC;
$list-grey: #eaeaea;
$light-grey-plus: #D0D0D0;
$mid-grey: #939393;
$dark-grey: #404040;

// Button and Field Sizes

$small-button: 15px;
$medium-button: 25px;
$large-button: 40px;

//BG

.bg {
	background-color: $light-grey;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

// Buttons

.tag {
	background-color: transparent;
	display: inline-block;
	color: $dark-grey;
	border: none;
	outline: 0;
	margin: 30px 10px 10px 10px;
	padding: 5px 15px 5px 15px;
	border-radius: 4px;
	text-transform: capitalize;
	border: solid 1px $dark-grey;
	@include transition(all 0.2s);
}

.tag:hover {
	background-color: $dark-grey;
	color: $light-grey;
	text-decoration: line-through;
	@include transition(all 0.2s);
}

.tag-box {
	display: inline-block;
}

.dear-god-dont-flip {
	pointer-events: none;
}

.fa-heart-o,
.fa-heart {
	position: absolute;
	top: 100px;
	right: 42px;
	font-size: 48px;
	color: #F2A1A1;
	text-decoration: none;
	margin-top: 12px;

.fa-heart-o.top-heart {
	background-color: white;
}

.top-heart {
	z-index: 100;
}

.top-heart:hover {
	opacity: 0;
}


// Navbar

nav {
	background-color: $light-grey;
	position: fixed;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid $light-grey-plus;
	z-index: 10;
}

nav h3 {
	margin: 5px;
	margin-left: 15px;
	display: inline-block;
}

nav h3 a {
	color: $dark-grey;
	font-weight: 400;
	font-size: 2.25rem;
	text-decoration: none;
}

#logo {
	display: inline-block;
}

#sign-in {
	z-index: 1;
	background-color: transparent;
	color: $dark-grey;
	float: right;
	display: inline-block;
	margin-top: 4px;
	margin-right: 4px;
	padding: 7px;
	font-size: 12px;
	border: 1px solid $dark-grey;
	border-radius: 5px;
	@include transition(all 0.2s);
}

#sign-in:hover {
	color: $light-grey;
	background-color: $dark-grey;
	@include transition(all 0.2s);

	i.fa.fa-facebook {
		color: $light-grey;
		@include transition(all 0.2s);
	}
}

#sign-in a {
	font-size: 14px;
	text-decoration: none;
	color: $dark-grey;
}

.sign-out {
	height: 40px;
	float: right;
	display: inline-block;
	text-align: center;
	@include transition(all 0.2s);
	font-size: 15px;
}

.sign-out:hover {
	background-color: $dark-grey;
	@include transition(all 0.2s);

	.user-image {
		color: $light-grey;
		@include transition(all 0.2s);
	}

	ul, ul li, ul li a {
		display: block;
	}

	hr {
		display: block;
	}
}

ul.menu {
	display: none;
	list-style-type: none;
	background-color: $dark-grey;
	margin: 0px;
	width: 100%;
	padding: 0px;
	border-radius: 0px 0px 4px 4px;
	-webkit-box-shadow: 0 8px 6px -6px #3a3a3a;
	-moz-box-shadow: 0 8px 6px -7px #3a3a3a;
	box-shadow: 0 8px 6px -7px #3a3a3a;
	@include transition(all 0.2s);
}

ul.menu li:hover {
	background-color: $mid-grey;
	@include transition(all 0.2s);
}

ul.menu li:last-child:hover {
	border-radius: 0px 0px 4px 4px;
}

ul.menu li a {
	padding: 10px 0px 10px 0px;
	font-size: 0.75rem;
	font-weight: 100;
	color: $light-grey;
	text-decoration: none;
}

hr {
	display: none;
	border: none;
	margin: -1px 0px 0px 0px;
	border-bottom: 1px solid $light-grey-plus;
}

i.fa.fa-facebook {
	color: $dark-grey;
	font-size: 14px;
	padding-right: 5px;
	@include transition(all 0.2s);
}

.user-image {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;  
	color: $dark-grey;
	vertical-align: middle;
	display: inline-block;
	font-size: 0.9rem;
	font-weight: 200;
	@include transition(all 0.2s);
}

.user-image img {
	vertical-align: middle;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid $dark-grey;
	margin-right: 10px;
}


// Search

#ingredient-search {
	padding-top: 85px;
	text-align: center;
}

#ingredient {
	height: $large-button;
	width: 30%;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border: 1px solid #AEAEAE;
	padding: 0px;
	vertical-align: top;
	outline: 0;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 2px 14px -7px rgba(0, 0, 0, 1);
}

#ingredient-search {
	text-align: center;
}

// Recipe Cards

#ingredient-box {
	text-align: center;
	display: block;
	height: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.recipe-thumb {
	width: 600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	perspective: 1000px;
}

.inner.flipped {
	-webkit-transform: rotatey(-180deg);
}

.inner {
	height: 100%;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	background-color: $light-grey;
	border-radius: 5px;
}

.face {
	-webkit-backface-visibility: hidden;
	z-index: 2;
	position: absolute;
}
.front {
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
}

.recipe-show {
	height: 100%;
	width: 100%;
	background-color: white;
	border-radius: 5px;
	border: 1px solid $light-grey-plus;
}

.recipe-show h4 {
	padding-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.recipe-thumb .inner .back {
	-webkit-transform: rotatey(-180deg);
}

.recipe-thumb.hover {
	.inner {
		transition: .3s; 
		transform: rotateY(3deg);
	}
}

.recipe-thumb.hover2 {
	.inner {
		transition: .3s; 
		transform: rotateY(-3deg);
	}
}

.thumb-image {
	z-index: 1;
	position: absolute;
	display: block;
	width: 600px;
	height: 400px;
	border-radius: 4px 4px 4px 4px;
}

.border {
	z-index: 2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px 4px 4px 4px;
	background-color: transparent;
	border: 4px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
}

.border:hover {
	cursor: pointer;
}

.mask {
	z-index: 2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px 4px 4px 4px;
}

.top {
	@include background-image( linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.03) 20%, rgba(0,0,0,0) 44%));
}

.bottom {
	@include background-image( linear-gradient(bottom,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.03) 35%, rgba(0,0,0,0) 44%));
}

.title {
	z-index: 3;
	position: absolute;
	display: inline-block;
	height: 100px;
	width: 450px;
	padding-left: 15px;
	margin-bottom: 10px;
	line-height: 1.1;
	bottom: 0;
}

.title span {
	position: absolute;
	font-weight: 300;
	color: white;
	text-align: left;
	display: inline;
	bottom: 0;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.aside {
	z-index: 3;
	position: absolute;
	font-weight: 300;
	display: inline-block;
	width: 300px;
	color: white;
	display: inline;
	float: right;
	right: 0;
	top: 0;
}

.aside h4 {
	margin-top: 5px;
	float: right;
	margin-right: 15px;
	display: inline-block;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.aside h4 span {
	font-size: 1rem;
}

.dots {
	z-index: 3;
	position: absolute;
	display: inline-block;
	padding-right: 15px;
	bottom: 0;
	right: 0;
}

.dots h2 {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
	color: white;
	margin: 0;
}

// Back of Card

.back {
	width: 600px;
	height: 400px;
	border-radius: 5px;
}

.banner-image-container {
	position: relative;
	height: 100px;
	width: 100%;
	overflow: hidden;
	border-radius: 4px 4px 0px 0px;
}

.banner-image {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	margin-top: -45%;
	vertical-align: middle;
	background-position: center;
}

.dark-mask {
	z-index: 3;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
}

.banner-text {
	z-index: 4;
	position: absolute;
	color: white;
	font-weight: 300;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.banner-text h3 {
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.banner-text h3 span {
	font-size: 1.25rem;
}

.recipe-button {
	height: 40px;
	width: 156px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -78px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	color: $dark-grey;
	border: 1px solid $dark-grey;
	border-radius: 4px;
	display: inline-block;
	@include transition(all 0.2s);
}

.recipe-button:hover {
	background-color: $dark-grey;
	color: white;
	@include transition(all 0.2s);
}

.ingredients-list {
	padding-right: 40px;
	overflow: hidden;
	height: 190px;
}

.ingredients-list li {
	list-style-type: none;
	padding: 5px;
	font-size: 0.9rem;
}

.ingredients-list li:nth-child(even) {
	background-color: white;
}

.ingredients-list li:nth-child(odd) {
	background-color: $list-grey;
}

//Swipe Buttons

.swipe {
	height: 120px;
	width: 120px;
	opacity: 0.8;
	position: absolute;
	top: 43%;
	z-index: 0;
}

.swipe:hover {
	@include transition(all 0.2s);
}

.left-swipe {
	left: 0;
	border-radius: 0px 4px 4px 0px;
	background-size: cover;
}

.right-swipe {
	right: 0;
	border-radius: 4px 0px 0px 4px;
	background-size: cover;
}

.fade {
	z-index: 3;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.15);
	@include transition(all 0.2s);
}

.right-swipe .fade {
	border-radius: 4px 0px 0px 4px;
}

.left-swipe .fade {
	border-radius: 0px 4px 4px 0px;
}

.right-swipe .border {
	border: 4px solid rgba(255, 255, 255, 0.25);
	border-right: none;
	@include transition(all 0.2s);
}

.left-swipe .border {
	border: 4px solid rgba(255, 255, 255, 0.25);
	border-left: none;
	@include transition(all 0.2s);
}

.left-swipe .border:hover, .right-swipe .border:hover {
	background-color: rgba(0, 0, 0, 0.35);
	@include transition(all 0.2s);
}





