//Colours

$primary-red: #CE7B7B;
$light-red: #FFDCDC;
$dark-red: #793B3B;
$ultra-dark-red: #542727;

$primary-blue: #7B84B4;
$light-blue: #FFDCDC;
$dark-blue: #414662;
$ultra-dark-blue: #2e3247;

$secondary-red: #E9B0A0;
$light-secondary-red: #F5E8E4;
$dark-secondary-red: #AE8276;

// Button and Field Sizes

$small-button: 15px;
$medium-button: 25px;
$large-button: 40px;

//BG

.bg {
	background-image: url('board.jpg');
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
}

// Buttons

.button {
	background-color: $dark-blue;
	color: $light-blue;
	border: none;
	outline: 0;
	border-radius: 4px;
	@include transition(all 0.2s);
	border: solid 1px $ultra-dark-blue;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
	background-color: $ultra-dark-blue;
	@include transition(all 0.2s);
}

.tag {
	background-color: $dark-blue;
	display: inline-block;
	color: $light-blue;
	border: none;
	outline: 0;
	margin: 10px;
	padding: 5px 15px 5px 15px;
	border-radius: 4px;
	text-transform: capitalize;
	@include transition(all 0.2s);
	border: solid 1px $ultra-dark-blue;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.tag:hover {
	background-color: $ultra-dark-blue;
	@include transition(all 0.2s);
}

.tag-box {
	display: inline-block;
}

// Navbar

nav {
	background-color: $dark-red;
	position: fixed;
	width: 100%;
	height: 60px;
}

nav h2 {
	color: $light-secondary-red;
	font-weight: 700;
	margin: 5px;
	margin-left: 15px;
	display: inline-block;
}

nav h2 a {
	text-decoration: none;
	color: $light-secondary-red;
}

#logo {
	display: inline-block;
}

#sign-in {
	margin-top: 12px;
	margin-right: 5px;
	float: right;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	background-color: $dark-blue;
}

#sign-in a {
	color: $light-blue;
	text-decoration: none;
}

// Search

#ingredient-search {
	padding-top: 100px;
	text-align: center;
}

#ingredient {
	height: $large-button;
	width: 30%;
	text-align: center;
	opacity: 0.9;
	background-color: $light-secondary-red;
	border: 1px solid grey;
	padding: 0px;
	vertical-align: top;
	outline: 0;
	border-radius: 4px;
}

#add-ingredient {
	height: $large-button;
	width: $large-button;
	font-size: 1.5rem;
	vertical-align: top;
}

#ingredient-search {
	text-align: center;
}

// Recipe Cards

#ingredient-box {
	text-align: center;
	display: block;
	height: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.recipe-thumb {
	width: 500px;
	height: 512px;
	margin-left: auto;
	margin-right: auto;
	perspective: 1000px;
}

.inner.flipped {
	-webkit-transform: rotatey(-180deg);
}
.inner {
	height: 100%;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	background-color: $light-secondary-red;
	border-radius: 4px;
}
.face {
	-webkit-backface-visibility: hidden;
	z-index: 2;
	position: absolute;
}
.front {
	z-index: 1;
	position: absolute;
}
.recipe-thumb .inner .back {
	-webkit-transform: rotatey(-180deg);
}

.recipe-thumb.hover {
	.inner {
		transition: .3s; 
		transform: rotateY(10deg);
	}
}

.recipe-thumb.hover2 {
	.inner {
		transition: .3s; 
		transform: rotateY(-10deg);
	}
}

.thumb-image {
	display: block;
	width: 100%;
	border-bottom: 10px solid $dark-blue;
	border-radius: 4px 4px 0 0;
}

.title {
	display: inline-block;
	height: 160px;
	width: 350px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	background-color: $light-secondary-red;
	border-radius: 0 0 4px 4px;
	line-height: 1.1;
}

.title span {
	font-family: 'Arvo';
	font-weight: 700;
	color: $dark-blue;
	text-align: left;
	display: inline;
}

.aside {
	height: 100%;
	display: inline-block;
	width: 150px;
	float: right;
	background-color: $dark-blue;
	color: $light-secondary-red;
	text-align: center;
	border-radius: 0 0 4px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.aside h5 {
	margin-right: 5px;
	margin-left: 5px;
}

// .info-container {
// 	overflow: auto;
// 	background-color: $light-secondary-red;
// 	position: relative;
// 	border-radius: 0 0 4px 4px;
// }

.highlight {
	font-family: 'Coustard', '700';
	color: $primary-red;
}

//Swipe Buttons

.swipe {
	height: 15vh;
	width: 15vh;
	min-height: 80px;
	min-width: 80px;
	background-color: $dark-red;
	opacity: 0.8;
	position: absolute;
	top: 43%;
	z-index: 3;
	border-radius: 4px;
}

.swipe:hover {
	background-color: $ultra-dark-red;
	@include transition(all 0.2s);
}

.left-swipe {
	left: 0;
}

.right-swipe {
	right: 0;
}

.right-img {
	position: absolute;
	height: 8vh;
	width: 8vh;
	margin-top: 3.5vh;
	right: 3.5vh;
	border-radius: 50%;
	border: 2px solid $light-red;
	background-size: cover;
	z-index: 3;
}

.left-img {
	position: absolute;
	height: 8vh;
	width: 8vh;
	margin-top: 3.5vh;
	left: 3.5vh;
	border-radius: 50%;
	border: 2px solid $light-red;
	background-size: cover;
	z-index: 3;
}

