//Colours

$light-grey: #FCFCFC;
$list-grey: #eaeaea;
$light-grey-plus: #D0D0D0;
$mid-grey: #939393;
$dark-grey: #404040;

// Button and Field Sizes

$small-button: 15px;
$medium-button: 25px;
$large-button: 40px;

//BG

.bg {
	background-color: $light-grey;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

// Buttons

.tag {
	background-color: transparent;
	display: inline-block;
	color: $dark-grey;
	border: none;
	outline: 0;
	margin: 10px 5px 0px 5px;
	padding: 5px 15px 5px 15px;
	border-radius: 4px;
	text-transform: capitalize;
	border: solid 1px $dark-grey;
	@include transition(all 0.2s);
}

.tag:hover {
	background-color: $dark-grey;
	color: $light-grey;
	text-decoration: line-through;
	@include transition(all 0.2s);
}

.tag-box {
	display: inline-block;
}

.dear-god-dont-flip {
}

.fav {
	position: absolute;
	top: 100px;
	right: 42px;
	font-size: 48px;
	color: #F2A1A1;
	text-decoration: none;
	margin-top: 12px;
}

.favourite-fav {
	position: absolute;
	top: 160px;
	right: 50px;
	font-size: 48px;
	color: #F2A1A1;
	text-decoration: none;
	margin-top: 12px;	
}

.fa-heart-o.top-heart {
	background-color: white;
}

.top-heart {
	z-index: 100;
}

.top-heart:hover {
	opacity: 0;
}


// Navbar

nav {
	background-color: $light-grey;
	position: fixed;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid $light-grey-plus;
	z-index: 10;
}

nav h3 {
	margin: 5px;
	margin-left: 15px;
	display: inline-block;
}

nav h3 a {
	color: $dark-grey;
	font-weight: 400;
	font-size: 2.25rem;
	text-decoration: none;
}

#logo {
	display: inline-block;
}

#beta {
	padding: 1px 5px;
	background-color: orange;
	color: white;
	display: inline-block;
	margin: 0;
	margin-left: 5px;
	border-radius: 4px;
	position: absolute;
	bottom: 5px;
	font-weight: 100;
}

#sign-in {
	z-index: 1;
	background-color: transparent;
	color: $dark-grey;
	float: right;
	display: inline-block;
	margin-top: 4px;
	margin-right: 4px;
	padding: 7px;
	font-size: 12px;
	border: 1px solid $dark-grey;
	border-radius: 5px;
	@include transition(all 0.2s);
}

#sign-in:hover {
	color: $light-grey;
	background-color: $dark-grey;
	@include transition(all 0.2s);

	i.fa.fa-facebook {
		color: $light-grey;
		@include transition(all 0.2s);
	}
}

#sign-in a {
	font-size: 14px;
	text-decoration: none;
	color: $dark-grey;
}

.sign-out {
	height: 40px;
	float: right;
	display: inline-block;
	text-align: center;
	@include transition(all 0.2s);
	font-size: 15px;
}

.sign-out:hover {
	background-color: $dark-grey;
	@include transition(all 0.2s);

	.user-image {
		color: $light-grey;
		@include transition(all 0.2s);
	}

	ul, ul li, ul li a {
		display: block;
	}

	hr {
		display: block;
	}
}

ul.menu {
	display: none;
	list-style-type: none;
	background-color: $dark-grey;
	margin: 0px;
	width: 100%;
	padding: 0px;
	border-radius: 0px 0px 4px 4px;
	-webkit-box-shadow: 0 8px 6px -6px #3a3a3a;
	-moz-box-shadow: 0 8px 6px -7px #3a3a3a;
	box-shadow: 0 8px 6px -7px #3a3a3a;
	@include transition(all 0.2s);
}

ul.menu li:hover {
	background-color: $mid-grey;
	@include transition(all 0.2s);
}

ul.menu li:last-child:hover {
	border-radius: 0px 0px 4px 4px;
}

ul.menu li a {
	padding: 10px 0px 10px 0px;
	font-size: 0.75rem;
	font-weight: 100;
	color: $light-grey;
	text-decoration: none;
}

hr {
	display: none;
	border: none;
	margin: -1px 0px 0px 0px;
	border-bottom: 1px solid $light-grey-plus;
}

i.fa.fa-facebook {
	color: $dark-grey;
	font-size: 14px;
	padding-right: 5px;
	@include transition(all 0.2s);
}

.user-image {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;  
	color: $dark-grey;
	vertical-align: middle;
	display: inline-block;
	font-size: 0.9rem;
	font-weight: 200;
	@include transition(all 0.2s);
}

.user-image img {
	vertical-align: middle;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid $dark-grey;
	margin-right: 10px;
}


// Search

#ingredient-search {
	padding-top: 85px;
	text-align: center;
}

#ingredient {
	height: $large-button;
	max-width: 400px;
	width: 80%;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border: 1px solid #AEAEAE;
	padding: 0px;
	vertical-align: top;
	outline: 0;
	border-radius: 4px;
}

#ingredient-search {
	text-align: center;
}

// Recipe Cards

#ingredient-box {
	text-align: center;
	display: block;
	height: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.recipe-thumb {
	max-width: 600px;
	width: 95%;
	height: 400px;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-user-select: none;
}

.inner.flipped {
	transform: rotatey(-180deg);
	-webkit-transform: rotatey(-180deg);
}

.inner, .inner-intro {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.face {
	z-index: 2;
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.front {
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
}

.recipe-show {
	height: 100%;
	width: 100%;
	background-color: white;
	border-radius: 5px;
	border: 1px solid $light-grey-plus;
}

.ingredients-title {
	padding-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.back {
	transform: rotatey(-180deg);
	-webkit-transform: rotatey(-180deg);
}

.recipe-thumb.hover {
	.inner, .inner-intro {
		transition: .3s;
		-webkit-transition: .3s;
		transform: rotateY(3deg);
		-webkit-transform: rotateY(3deg);
	}
}

.recipe-thumb.hover2 {
	.inner, .inner-intro {
		transition: .3s; 
		-webkit-transition: .3s;
		transform: rotateY(-3deg);
		-webkit-transform: rotateY(-3deg);
	}
}

.thumb-image {
	z-index: 1;
	position: absolute;
	display: block;
	max-width: 600px;
	height: 400px;
	width: 100%;
	height: 100%;
	border-radius: 4px 4px 4px 4px;
	object-fit: cover;
}

.border {
	z-index: 2;
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px 4px 4px 4px;
	background-color: transparent;
	border: 4px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
}

.border:hover {
	cursor: pointer;
}

.mask {
	z-index: 2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px 4px 4px 4px;
}

.top {
	@include background-image( linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.03) 20%, rgba(0,0,0,0) 44%));
}

.bottom {
	@include background-image( linear-gradient(bottom,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.03) 35%, rgba(0,0,0,0) 44%));
}

.title {
	z-index: 3;
	position: absolute;
	display: inline-block;
	height: 150px;
	width: 80%;
	padding-left: 15px;
	margin-bottom: 10px;
	line-height: 1.1;
	bottom: 0;
}

.title span {
	position: absolute;
	font-weight: 300;
	color: white;
	text-align: left;
	display: inline;
	bottom: 0;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.aside {
	z-index: 3;
	position: absolute;
	font-weight: 300;
	display: inline-block;
	width: 300px;
	color: white;
	display: inline;
	float: right;
	right: 0;
	top: 0;
}

.aside h4 {
	margin-top: 5px;
	float: right;
	margin-right: 15px;
	display: inline-block;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.aside h4 span {
	font-size: 1rem;
}

// Back of Card

.back {
	max-width: 600px;
	width: 100%;
	height: 400px;
	border-radius: 5px;
}

.banner-image-container {
	position: relative;
	height: 100px;
	width: 100%;
	overflow: hidden;
	border-radius: 4px 4px 0px 0px;
}

.banner-image {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	margin-top: -45%;
	vertical-align: middle;
	background-position: center;
}

.dark-mask {
	z-index: 3;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
}

.banner-text {
	z-index: 4;
	position: absolute;
	color: white;
	font-weight: 300;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}

.banner-text h3 {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.banner-text h3 span {
	font-size: 1.25rem;
}

.button-container {
	position: absolute;
	width: 100%;
	bottom: 5px;
	text-align: center;
}

.recipe-button {
	text-decoration: none;
	background-color: white;
	color: $dark-grey;
	border: 1px solid $dark-grey;
	border-radius: 4px;
	display: inline-block;
	padding: 10px;
	@include transition(all 0.2s);
}

.recipe-button:hover {
	background-color: $dark-grey;
	color: white;
	@include transition(all 0.2s);
}

.ingredients-list {
	padding-right: 40px;
	overflow: scroll;
	height: 190px;
}

.ingredients-list li {
	list-style-type: none;
	padding: 5px;
	font-size: 0.9rem;
}

.ingredients-list li:nth-child(even) {
	background-color: white;
}

.ingredients-list li:nth-child(odd) {
	background-color: $list-grey;
}

//Swipe Buttons

.swipe {
	height: 120px;
	width: 120px;
	opacity: 0.8;
	position: absolute;
	top: 50%;
	margin-top: -60px;
	z-index: 0;
}

.swipe:hover {
	@include transition(all 0.2s);
}

.left-swipe {
	left: 0;
	border-radius: 0px 4px 4px 0px;
	background-size: cover;
	background-position: center; 
	transition: background 0.25s linear;
}

.right-swipe {
	right: 0;
	border-radius: 4px 0px 0px 4px;
	background-size: cover;
	background-position: center; 
	transition: background 0.25s linear;
}

.fade {
	z-index: 3;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.15);
	@include transition(all 0.2s);
}

.right-swipe .fade {
	border-radius: 4px 0px 0px 4px;
}

.left-swipe .fade {
	border-radius: 0px 4px 4px 0px;
}

.right-swipe .border {
	border: 4px solid rgba(255, 255, 255, 0.25);
	border-right: none;
	@include transition(all 0.2s);
}

.left-swipe .border {
	border: 4px solid rgba(255, 255, 255, 0.25);
	border-left: none;
	@include transition(all 0.2s);
}

.left-swipe .border:hover, .right-swipe .border:hover {
	background-color: rgba(0, 0, 0, 0.35);
	@include transition(all 0.2s);
}

// Info Button

i.info {
	position: fixed;
	z-index: 14;
	bottom: 5px;
	left: 5px;
	color: $light-grey-plus;
	font-size: 1.2rem;
	@include transition(all 0.2s);
}

i.info:hover {
	color: $mid-grey;
	@include transition(all 0.2s);
}

.info-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 11;
	background-color: black;
	opacity: 0;
	visibility: hidden;
	display: table;
	@include transition(all 0.15s);
}

.info-overlay.info-activated {
	visibility: visible;
	opacity: 0.85;
	@include transition(all 0.15s);
}

.info-container {
	text-align: center;
	z-index: 12;
	visibility: hidden;
	display: table-cell;
	vertical-align: middle;
	transform: scale(0.7);
	@include transition(all 0.15s);
}

.info-container.info-con-activated {
	transform: scale(1);
	visibility: visible;
	@include transition(all 0.15s);
}

.info-text {
	width: 70%;
	max-width: 750px;
	color: white;
	display: inline-block;
}

#info-break {
	display: inline-block;
	width: 100%;
	border-color: white;
	width: 50px;
	margin: auto;
}

#nav-image {
	height: 300px;
	margin-right: -85px;
	margin-top: 30px;
}

.loading {
	text-align: center;
	width: 300px;
	height: 300px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;

	p {
		font-weight: 600;
		font-size: 1.3rem;
	}
}

.loading-icon {
	width: 200px;
	border-radius: 50%;
	border: 8px solid $dark-grey;
}

.inner-intro-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	color: white;
	z-index: 2;
}

.inner-intro-text h1 {
	margin-top: 50px;
}

.inner-intro > .border {
	cursor: default;
}

.intro-text {
	width: 60%;
	min-width: 200px;
	margin: auto;
	font-size: 1.2rem;
	padding-top: 15px;
	color: $light-grey;
	font-weight: 300;
}

#get-started {
	position: absolute;
	bottom: 30px;
	z-index: 3;
	width: 100%;
	text-align: center;
}

#get-started span {
	padding: 7px 10px;
	color: white;
	background-color: orange;
	margin: auto;
	border-radius: 4px;
	cursor: pointer;
	@include transition(all 0.2s);
}

#get-started span:hover {
	background-color: rgb(216, 140, 0);
	@include transition(all 0.2s);
}

.intro-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url("berries.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	// -webkit-filter: blur(3px);
	// -moz-filter: blur(3px);
	// -o-filter: blur(3px);
	// -ms-filter: blur(3px);
	// filter: blur(3px);
	// overflow: hidden;
}

.intro-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: 1;
	border-radius: 5px;
}

// Media queries


@media screen and (max-width: 1024px) {

	.swipe {
		visibility: hidden;
	}
}

